@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FFD700;
    --cor-hover: #272727;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: content-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.cabecalho {
    padding: 1% 1% 1% 1%;
}

.apresentacao__conteudo__titulo {
    font-size: 45px;
    font-family: var(--fonte-principal);
    font-weight: 400;
    flex-direction: row;
}

.titulo-destaque {
    font-size: 50px;
    color: var(--cor-terciaria);

}

.cabecalho__menu {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 25px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
}

.apresentacao {
    padding: 1% 1%;
    display: flex;
    justify-content: flex-start;
}

.filmes_em_cartaz {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
}

.apresentacao__conteudo {
    display: flex;
}

.apresentacao__conteudo__filmes {
    padding: 2% 0% 0% 4%;
    font-family: var(--fonte-secundaria);
    display: flex;
    gap: 60px;
}
.apresentacao__links__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    width: 265px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    padding: 22px 22px;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    font-family: var(--fonte-principal);
    
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    width: 270px;
    color: var(--cor-terciaria);
}


.apresentacao__texto {
    padding: 2%;
    display: flex;
    gap: 50px;
}
.apresentacao__conteudo__texto {
    font-size: 25px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__sobrenos {
    display: flex;
    justify-content: center;
}

.imagem__cinemarques {
    display: flex;
    width: 378px;
    border-radius: 4px;
    padding: 15px 15px;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
}
